################################################
###############  .gitignore   ##################
################################################

node_modules
adminMongo
.git
.push.sh
.env
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
